<%= stylesheet_link_tag "editpic", :media => "all" %>

<!--canvassotoに合わせてcanvasの大きさを変えると、なぜかジャギらない。理由はいまいち不明-->
<div id="canvassoto">
</div>
<canvas id="canvas"></canvas>
<canvas id="canvasForToumei"></canvas>
<img src="" id="editimg">
<img src="" id="tempcanvasimg">


<!--div id="mybutton">
    <!--div class="upload"><input type="file" name="file" id="file"></div-->
    <!--a id="toEditedPic">写真の撮影へ</a-->
</div-->

<div id="mybuttonTate">
    <span id="smallpen"><img class="editPicTools" src="/mypic_ar/pens.png"></span>
    <span id="mediumpen"><img class="editPicTools" src="/mypic_ar/penm.png"></span>
    <span id="largepen"><img class="editPicTools" src="/mypic_ar/penl.png"></span>
    <span id='erace'><img class="editPicTools" src="/mypic_ar/erace.png"></span>
    <span id='deleteall'><img class="editPicTools" src="/mypic_ar/eraceall.png"></span>
    <span>
        <input type="file" id="file">
        <label for="file">
            <img class="editPicTools"  src="/mypic_ar/chooseAPhoto.png">
        </label>
    </span>
    <span><a id="toEditedPic"><img class="editPicTools" src="/mypic_ar/goToTakeAPhoto.png"></a></span>
</div>

<img src="" id="testimg">

<%= javascript_include_tag 'editpic.js' %>