<h1>MyPicAR(仮称)</h1>

 <h2><a href="/mypic_ar/editpic">さっそく使う</a><br></h2>

<h2>何ができるのか</h2>
<h4>自分のイラストを、風景の中に召喚できます</h4>
<p>↓こんな写真が作りたいとき、このWebアプリを使ってみませんか？</p>
<img style="width: 50%;" src="/mypic_ar/sample3.png">
<img style="width: 50%;" src="/mypic_ar/sample7.png">
<h4>簡単に試行錯誤できます</h4>
<p>イラストを風景の上に<strong>リアルタイムで</strong>表示するので、後から画像編集アプリで合成する場合と違い、その場で色々と試すことができます。</p>


<h2>操作方法</h2>
<p>１、<a href="/mypic_ar/editpic">このリンク</a>へ移動する。</p>
<p>２、画像を読み込ませ、透明にする範囲を<span style="color: #00ff00">緑色</span>で選択する。</p>
<img style="width: 50%;"  src="/mypic_ar/sample5.jpg">
<img style="width: 50%;"  src="/mypic_ar/sample6.png">
<p>３、写真を撮影画面へ遷移して、"Take A Photo"を押して撮影する</p>
<img style="width: 50%;" src="/mypic_ar/sample2.png">
<p>※全体を通して挙動が安定していないです。ページをリロードするとよくなる場合があります。</p>

<h3>バージョン情報</h3>
- ver 0.0(2019/9/29 17:43) : 最低限、動くようになった。本当に最低限。<br>
- ver 0.1(2019/10/24 21:43) : git管理をgit hubに移行した(ソースコードを人に見せる必要が生まれたので)


<h3>デバック用リンク</h3>
<h4>
    <a href="/mypic_ar/editpic">editpic</a><br>
    <a href="/mypic_ar/takeaphoto">takeaphoto</a>
</h4>
