INDEX
<a href="/mypic_ar/editpic">editpic</a>
<a href="/mypic_ar/takeaphoto">takeaphoto</a>


<h5>現段階でわかっているバグ</h5>
- 画像の縦横日が狂う
- ボタンをもうちょい押しやすくしようよ…

<h5>バージョン情報</h5>
- ver 0.0(2019/9/29 17:43)
    - 最低限、動くようになった。本当に最低限。