body {
    margin: 0;
    background: white;
}

#editimg {
    position: absolute;
    z-index: 5;
    left: 11vw;
}

#tempcanvasimg {
    opacity: 1;
    position: absolute;
}

#canvassoto {
    width: 90vw;
    height: 90vh;
    position: absolute;
    background: #00ff00;
    left: 11vw;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    left: 11vw;
}

#canvasForToumei {
    display: block;
    position: absolute;
    z-index: 1;
    opacity: 1;
    left: 11vw;
}

#mybutton {
    background: #222;
    z-index: 20;
    position: absolute;
    color: white;
    height: 9vh;
    width: 100vw;
    margin-top: 91vh;
}

#mybuttonTate {
    background: #222;
    position: absolute;
    left: 0;
    width: 10vw;
    height: 100vh;
    z-index: 18;
}

#testimg {
    margin-top: 100vh;
    background: red;
    opacity: 0;
}

#toEditPic {
    cursor: pointer;
}

.editPicTools {
    padding-top: 10%;
    padding-left: 10%;
    width: 80%;
}

.goToTakeAPhoto {
    margin-top: 80%;
}

#file {
    display: none;
}